:root {
	font-family: monospace;
    color: #4f4f4f;
	font-size: 10px;
    background-color: #202020;
	scroll-behavior: smooth;
}

h1 {
	color: #ff7300;
	font-size: 2.4rem;
}

h2 {
	color: #ff7300;
	font-size: 3.2rem;
	animation: flash 1.5s steps(3) infinite;
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.model-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	model-viewer {
		transition: width 0.5s steps(64),
					height 0.5s steps(64) 0.5s,
					border 0.5s steps(64);
		height: 0%;
		width: 0%;
		h1 {
			color: white;
			margin: 24px;
			animation: flash 1.5s steps(3) infinite;
		}
	}
}

p {
	color: #5a5a5a;
	font-size: 1.6rem;
	line-height: 1.6em;
	transition: color 0.5s steps(16) 0.5s,
				max-height 0.5s steps(16) 0.5s;
	
	&.overflow {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	&.clamp {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		max-height: 70px;
	}
}

figure {
	video {
		border: white 1px solid;
		height: 75vh;
		z-index: 2;
	}
	figcaption {
		margin-top: 16px;
		color: white;
		font-size: 1.6rem;
		text-align: right;
		opacity: 0;
		transform: translateX(-256px);
		transition: transform 1s steps(32),
					opacity 1s steps(32);
	}
}


/* Utilities */
.container {
	max-width: 80%;
	padding: 0 min(2rem, 5vw);
}

.grid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	gap: 3rem;
}

/* Scaffolding */

section {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

section:nth-child(2) {
	background-color: #181818;
}

section:nth-child(3) {
	background-color: #ff7300;
	h1 {
		font-size: 12vw;
		font-weight: 900;
		background-image: url(https://media.giphy.com/media/3osxYzuMvUJJcqzND2/giphy.gif?cid=ecf05e47kzpsyrtjqfdtfyj6b0ce0wuonzbrdmhzlmlpdpr9&ep=v1_gifs_related&rid=giphy.gif&ct=g);
		background-size: cover;
		background-position: center;
		color: transparent;
		-moz-background-clip: text;
		-webkit-background-clip: text;
		scale: 0;
		opacity: 0;
		transition: scale 0.5s steps(16) 0.5s,
					opacity 0.5s steps(16) 0.5s;
	}
}

section:last-child {
	background-color: #090909;
}

/* Header */
header {
	z-index: 2;
	max-width: 100%;
	position: fixed;
	width: 100%;
	transition: color 200ms, background-color 200ms;
	background-color: white;
	color: black;
	nav {
		padding: 1rem min(2rem, 5vw);
		display: flex;
		font-size: 1.6rem;
		ul {
			display: flex;
			gap: 1.6rem;
			font-weight: 500;
		}
	}
	a {
		text-decoration: none;
		color: black;
	}
}

/* active state indicator in the nav  */
header::after {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: var(--markerWidth, 0);
	height: 0.4rem;
	background-color: #ff7300;
	transform: translate3d(var(--markerLeft, 0), 0, 0);
	transition: transform steps(12) 250ms, width steps(12) 200ms, background-color steps(12) 200ms;
	will-change: width;
}

@media (min-width: 40em) {
	header::after {
		display: block;
	}
}

.nav {
	display: flex;
	align-items: center;
}

.header__list {
	display: flex;
	margin-left: auto;
}

/* Intersector Styles */

.start {
	h2 {
		display: none;
	}
	model-viewer {
		width: 75%;
		height: 75%;
		border: 1px solid white;
	}
}

.visible {
	p {
		color: #d3d3d3;
		-webkit-line-clamp: unset;
		max-height: 100%;
	}
	h1 {
		scale: 1 !important;
		opacity: 1 !important;
	}
	figcaption {
		opacity: 1;
		transform: translateX(0);
	}
}